<h1>Test Rendered</h1>
<h2>{{test}}</h2>
<h3>{{css}}</h3>

<div id="example"></div>

<script>
    let oldArray = decodeURIComponent("{{{oldArray}}}");
    let excelCompResult = decodeURIComponent("{{{excelCompResult}}}")
</script>